.jumbotron {
    height: 150px;
    background-image: url('../images/NetherlandsBrick2.jpg');
    background-size: cover;
    clear: both; 
    padding-top: 15px; 
    padding-bottom: 5px;
    text-align: center;
    font-family: 'Baloo Chettan 2', 'Baloo 2', 'Poppins', cursive, sans-serif;
    color: black 
}

